<% if logged_in? %>
<header class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Calendar", calendar_path %></li>
        <li><%= link_to "Groceries", '#' %></li>
      </ul>
      <ul class="nav pull-right">
        <li id="account-link"><%= link_to current_user.name, edit_user_path(current_user) %></li>
        <li><%= link_to "Log out", logout_path, method: "delete" %></li>
      </ul>
      <p class="navbar-text nav pull-right">Logged in as </p>
    </div>
  </div>
</header>
<% end %>